@font-face {
    font-family: 'NBG';
    src: url('./fonts/NanumBarunGothic.ttf');
}

@font-face {
    font-family: 'NBG_Bold';
    src: url('./fonts/NanumBarunGothicBold.ttf');
}

@font-face {
    font-family: 'NBG_Light';
    src: url('./fonts/NanumBarunGothicLight.ttf');
}

@font-face {
    font-family: 'NBG_UltraLight';
    src: url('./fonts/NanumBarunGothicUltraLight.ttf');
}

* {
    font-family: 'NBG';
}
